/* Images */

* {
	box-sizing: border-box;
}

body {
	background-color: floralwhite;
	color: darkslategrey;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	letter-spacing: 2px;
	font-weight: normal;
}

img {
	max-width: 100%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 33.33%;
	padding: 5px;
}
.item2 {
	width: 25%;
	padding: 5px;
}
